<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

        <h2 class="mb-3">화재관리 시스템이란?</h2>

        <P class="jumbotron">유해가스와 온도값을 받아서 사용자에게 알려주는 시스템 입니다</P>

    </div>
</body>

</html>
