<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

        <div class="jumbotron">
            <h1>화재관리 건의 게시판</h1>
            <P>건의해 주세용~</P>
        </div>

    </div>
</body>

</html>
